<% include header.ejs %>
<div class="container">
    <div class="row">
        <div class="col-md-2 bootstrap-admin-col-left">
            <ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side">
                <li class="active">
                    <a href="index.html"><i class="glyphicon glyphicon-chevron-right"></i> 首页</a>
                </li>
                <li>
                    <a href="/admin/albums"><i class="glyphicon glyphicon-chevron-right"></i> 专辑</a>
                </li>
                <li>
                    <a href="/admin/audios"><i class="glyphicon glyphicon-chevron-right"></i> 音频</a>
                </li>
                <li>
                    <a href="/admin/users"><i class="glyphicon glyphicon-chevron-right"></i> 用户</a>
                </li>
                <li>
                    <a href="/admin/about"><i class="glyphicon glyphicon-chevron-right"></i> 关于</a>
                </li>
            </ul>
        </div>

        <!-- content -->
        <!--  <div class="col-md-10">
            <div class="row">
              <div class="alert alert-success bootstrap-admin-alert">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h4>成功</h4>
                这里是操作成功提示信息！
              </div>
            </div>
    -->
        <div class="col-md-10">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="text-muted bootstrap-admin-box-title">专辑列表</div>
                        <a href="/admin/album/add" class="btn btn-default">添加</a>
                    </div>
                    <div class="bootstrap-admin-panel-content">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>专辑名</th>
                                <th>作者</th>
                                <th>Username</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% for(let i = 0;i < result.length;i++){ %>
                            <tr>
                                <td><%= i+1 %></td>
                                <td><%= result[i].album_name %></td>
                                <td><%= result[i].album_id %></td>
                                <td>
                                    <a href="/admin/audio/edit">编辑</a>
                                    <a href="/admin/audio/delete">删除</a>
                                </td>
                            </tr>
                            <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
<% include footer.ejs %>