<script type="text/javascript" src="/js/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
  $(function() {
      // Easy pie charts
      $('.easyPieChart').easyPieChart({animate: 1000});
    });
  </script>
  </body>
</html>